{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    Hello my name is Sean Steiner and I looooove video games, but you know what I love even more then video games?
    Computering, and I decided to combine 2 of my cells and 2 of my fevorite hobbies into one awsome project,
    where I combine a full data on PS games (PlayStation games) with my computering skills.

    I created this website/project as a school form project, so I created this website which gives the "user"
    a huge information about all the best game sales in the whole world from 2013 - 2020.
    I chose to do this project on the same subject because as I said, I really love video games, I a lot of play
    video games in my free time, I'm playing daily, every day I have the chance to play video games, but this is
    not the main reason for creating this project, the main reason is becuase there is so much video games in the whole
    world, and some of them are really successful and some are not, and there is supose to be some orginized DATA
    that can show you the whole video games that were ever created and you can see the whole huge community of it,
    and with that point of intrest, I also love marketing, I see a lot of trading and saling shows on the TV and it's
    really itresting to see the same thing on video games, and the ability to see how many copies of these games
    have been saled in the whole world.
    All the knowladge and DATA is amazing and the ability to see all of it with few clicks it's briliant and stunning,
    so this is quite the main reasons for why I'm creating this website.

    In this project I created the main information on the top 50 video games in the list and from that I categoriesd
    them into their properties like what is the most popular genre and where, or which video game has the highest
    sales in the diffrent rejions (Japan, Europe, north america).
    There is also a few intresting question about this subject like for example,
    "which year has the most successful games?" or "which country has the most sales copare to the other rejions?"

    This website and DATA could also give you some information about which game you should really buy, and
    you can see that by the amount of sales of that same game, has all over the world.
</p>

{% endblock %}
