<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3> In the last 42 years there a have been a huge changes in the video games industry from the begging of the game Pong to the very well known popular games of these days</h3>
    <p>
        The video game industry was created 42 years ago, by the most famous game that was ever known
        "PONG", from this year the video games industry also known as the gaming idustry have just
        kept on developing and improving for each day, even there was a lot of a minimal improvments, for example
        the game "PacMan" or "Space Invaders" they got colorized, or for another example "Astroids" which gave
        the player a lot of movment ability in the game space, and there is even the "big" changes have happend, for exmaple
        from dots and lines into a full size 3D built character, open world maps and so much more. 
        ____________________________________________________________________________________________
    </p>
    <p>
        The gaming industry in her early years, hasn't had a very big changes, there was only small changes,
        like a bigger movment space, more colors, more objectives and more..., but even though those was a
        small improvments they still had a lot of impact on the users, but in these day we are looking at it
        and say that nah it's not that big of improvment but back than it was a big deal.
        In the 80's the gaming idustry had a significant leap in its progress and development of a lot of new games,
        gimmicks, ideas, quality of the games and new famous cartoon character like Mario, Donky Kong, PacMan,
        Q-Bert, Link and Zelda and much more.
        In those year there is also a lot of new genres for example the game "Legand Of Zelda" which had
        an action adveture genre, which was never used or created before.
        ____________________________________________________________________________________________
    </p>
    <p>
        In the 90's the gaming industry have fluorished when the new genre of "First Person Shooter" games have came
        out with their first games, for example: "Wolfstein, Doom, system shock, Half-Life and much more". it was really the "Icing on the cake"
        of the gaming industry, and this genre is continues to flourish in these day with the a lot of new improvments
        like graphics, game space, character desgin, large maps, a lot of diffrent options for guns or skills
        and much more than that. but from that decade we've got what we have now.
        _____________________________________________________________________________________________
    </p>
    <p>
        The 2000's have come and with it have came the most significant makeover in the gaming industry
        and what I mean by that is that the gaming industry had a lot of improvments in this decade,
        this decade brought with him new "shiny" consoles (Playstation 2, Xbox and Wii), the 2000's have
        also brought with a new change into the users, now in the gaming industry there is a huge community which
        called "Gamers" and inside of this community there is also factions that are separated into genres and gaming ability
        there was the proffesionals which called as "Pros" and there is the "amateurs" and there is the gamers which aren't
        the best in the same game and they are called "noobs". By far the 2000's have created a huge community,
        and brought a lot of changes even for the society, now there is a few gaming conventions which invites
        gamers all across the worl to come and play together or to see some new games that are about to be published
        to the community, and much more stuff is hapenning there.
        The 2000's have also brought the big new changes for the games themselves for example there is now
        GPU'S which improves the game graphics and quality, there is now a lot of high resolution, and open space
        in the game, there is a large scale maps, a lot of more new options and missions and storylines
        for the games, also there  new thing in the gaming industry which called "Online Gaming/ multiplayer"
        which allows players/ gamers to play with each other all across the world,
        and the main games that were that successful with those new things were the "Call Of Duty" series, the "Battlefield" series,
        "CS:GO/ Counter Strike Global Offensive" and there is even much more thing than that.
        _____________________________________________________________________________________________
    </p>
    <p>
        2010's is here and in this decade there wasn't any new fascinating stuff, except from the new most
        popular game (Grand Theft Auto V/ GTA V) and the new technollogy that was haded the Virtual Reality headset
        and the new gimmicks on the new consoles and computers (the touch pads on the PlayStation controller, the controller tracking
        , the movement observing cameras, water cooling system for computers and even much, much more).
        In this decade the industry and the community have got in to a new achievements.
        Also in the 2019 there have been a huge reveal of a new VR (Virtual Reality) headset, which
        had a new technollogy in the controlles which called "Finger Tracking Mechanism" which observes
        the amount of preasure you make on the controller and it transmitting the same power/ preasure into
        the game (if you hold a cola can and you "squeeze your hand/ creates preasure" on the controller
        it will squeeze the can).
        _____________________________________________________________________________________________
    </p>
    <p>
        Now we are kefted with the 2020's, all that left for us to do is just to wait and observe the
        improvement of all of these technollogy development and the new big thing or the next "overkill"
        game, but the huge difference between 42 years ago until now, the big transformation and improvement
        which never stops even for a minute and the gaming industry will always try to proceed forward to the next
        big gimmick that will catch everyone's attention.
        _____________________________________________________________________________________________
    </p>
</body>
</html>